
<footer class="footer">
    <div class="footer-container container grid">
        <div>
          <h1 class="footer-title">Juan <span>Colapaolo</span></h1>

          <h2 class="footer-education">Full Stack Developer</h2>
        </div>

        <div class="footer-social">
          <a
            href="https://github.com/jigcolapaolo"
            target="_blank"
            class="footer-social-link"
          >
            <i class="ri-github-fill"></i>
          </a>
          <a
            href="https://linkedin.com/in/juan-ignacio-colapaolo"
            target="_blank"
            class="footer-social-link"
          >
            <i class="ri-linkedin-box-fill"></i>
          </a>
          <a
            href="https://wa.me/5491125497020"
            target="_blank"
            class="footer-social-link"
          >
            <i class="ri-whatsapp-line"></i>
          </a>
        </div>
        <span class="footer-copy">
          Gracias por tu tiempo! Quedo a tu disposición.
        </span>
    </div>
</footer>

<style>
  .footer {
    background-color: var(--container-color);
    padding-block: 2rem;
  }

  .footer-container {
    row-gap: 2rem;
    text-align: center;
  }

  .footer-title {
    font-size: var(--h1-font-size);
    font-weight: var(--font-semi-bold);
    margin-bottom: .25rem;
  }

  .footer-title span {
    color: var(--first-color);
  }

  .footer-education {
    font-size: var(--normal-font-size);
  }

  .footer-social {
    display: flex;
    justify-content: center;
    column-gap: 1.25rem;
  }

  .footer-social-link {
    display: flex;
    background-color: var(--first-color-alt);
    padding: .5rem;
    color: var(--title-color);
    font-size: 2rem;
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
    transition: all .4s;
  }

  .footer-social-link:hover {
    transform: translateY(-.25rem);
    background-color: var(--title-color);
    color: var(--first-color-alt);
  }

  .footer-copy {
    font-size: var(--font-medium);
    margin-top: 2rem; 
  }

  @media screen and (min-width: 1152px) {
    .footer {
      padding-block: 4.5rem 4rem;
    }

    .footer-container {
      grid-template-columns: repeat(3, 1fr);
      align-items: center;
      text-align: initial;
    }

    .footer-title {
      font-size: var(--bigger-font-size);
    }

    .footer-social {
      column-gap: 1.5rem;
    }

    .footer-copy {
      margin: 0;
      justify-self: flex-end;
    }
  }
</style>