<section class="projects section" id="projects">
    <h3 class="section-subtitle">Mis <span>Trabajos</span></h3>

    <h2 class="section-title">Proyectos Recientes</h2>

    <div class="projects-container container grid">
        <!-- Project 1 -->
        <article class="projects-card">
            <div class="projects-div-img">
              <video class="projects-img" autoplay muted loop>
                <source
                  src="/projectsVideos/Lectric.mp4"
                  type="video/mp4"
                />
                Tu navegador no puede reproducir el video.
              </video>
            </div>
            <div class="projects-intro">
              <div>
                <span class="projects-subtitle">Catálogo Web ASP</span>
                <h2 class="projects-title">Lectric</h2>
              </div>
              <div class="projects-collapse">
                <p class="projects-button">Ver Más</p>
                <i class="projects-button-icon ri-arrow-down-s-fill"></i>
              </div>
            </div>
            <div class="projects-description">
              <div class="projects-intro-responsive">
                <div>
                  <span class="projects-subtitle">Catálogo Web ASP</span>
                  <h2 class="projects-title">Lectric</h2>
                </div>
              </div>
              <div class="projects-stack">
                <ul class="stack-group">
                  <li class="stack-item">
                    <img src="/skills/net.png" width="100" />
                  </li>
                  <li class="stack-item">
                    <img src="/skills/sqlserver.png" width="100" />
                  </li>
                  <li class="stack-item">
                    <img src="/skills/html.png" width="100" />
                  </li>
                  <li class="stack-item">
                    <img src="/skills/css.png" width="100" />
                  </li>
                  <li class="stack-item">
                    <img src="/skills/bootstrap.png" width="100" />
                  </li>
                  <li class="stack-item">
                    <img src="/skills/js.png" width="100" />
                  </li>
                </ul>
              </div>

              <span class="projects-subtitle">
                Aplicación Web ASP realizada con arquitectura en capas. Usa un
                sistema de <b>Login</b>, lista de <b>Favoritos</b> según el
                usuario y conexión a <b>Base de Datos</b> que permite realizar
                operaciones <b>CRUD</b> al ingresar como Administrador.<br />
                Incluidos distintos <b>filtros</b> para los productos.
                <br /><br />
                <u>Cuentas de Prueba:</u><br />
                User: user@user.com | Pass: user<br />
                Admin: admin@admin.com | Pass: admin
              </span>
              <div class="projects-button-container">
                <a
                  href="http://www.catalogolectric.somee.com/"
                  target="_blank"
                  class="projects-button"
                >
                  Ver Demo <i class="ri-external-link-line"></i>
                </a>
                <a
                  href="https://github.com/jigcolapaolo/TP-Final-Nivel3-Colapaolo-Juan"
                  target="_blank"
                  class="projects-button"
                >
                  Ver Repositorio <i class="ri-github-fill"></i>
                </a>
              </div>
            </div>
        </article>
        <!-- Project 2 -->
        <article class="projects-card">
            <div class="projects-div-img">
              <video class="projects-img" autoplay muted loop>
                <source src="/projectsVideos/GestorArt.mp4" type="video/mp4" />
                Tu navegador no puede reproducir el video.
              </video>
            </div>
            <div class="projects-intro">
              <div>
                <span class="projects-subtitle">Aplicación WinForms</span>
                <h2 class="projects-title">Gestor de Artículos</h2>
              </div>
              <div class="projects-collapse">
                <p class="projects-button">Ver Más</p>
                <i class="projects-button-icon ri-arrow-down-s-fill"></i>
              </div>
            </div>
            <div class="projects-description">
              <div class="projects-intro-responsive">
                <div>
                  <span class="projects-subtitle">Aplicación WinForms</span>
                  <h2 class="projects-title">Gestor de Artículos</h2>
                </div>
              </div>
              <div class="projects-stack">
                <ul class="stack-group">
                  <li class="stack-item">
                    <img src="/skills/net.png" width="100" />
                  </li>
                  <li class="stack-item">
                    <img src="/skills/sqlserver.png" width="100" />
                  </li>
                </ul>
              </div>
              <span class="projects-subtitle">
                Aplicación WinForms realizada con arquitectura en capas.<br />
                Con un sistema de conexión a <b>Base de Datos</b> en donde
                permito realizar operaciones <b>CRUD</b>.
                <br /><br />Incluye:<br />
                -Ventana de Papelera.<br />
                -Filtro simple y Ventana de Filtro Avanzado.
              </span>
              <div class="projects-button-container">
                <a
                  href="https://github.com/jigcolapaolo/Gestor-de-Articulos-TP-Final-CSharp-Nivel-2"
                  class="projects-button"
                >
                  Ver Repositorio <i class="ri-github-fill"></i>
                </a>
              </div>
            </div>
        </article>
        <!-- Project 3 -->
        <article class="projects-card">
            <div class="projects-div-img">
              <video class="projects-img" autoplay muted loop>
                <source src="/projectsVideos/Sportswear.mp4" type="video/mp4" />
                Tu navegador no puede reproducir el video.
              </video>
            </div>
            <div class="projects-intro">
              <div>
                <span class="projects-subtitle">Aplicación Web React con API de .NET Core</span>
                <h2 class="projects-title">Sportswear eCommerce</h2>
              </div>
              <div class="projects-collapse">
                <p class="projects-button">Ver Más</p>
                <i class="projects-button-icon ri-arrow-down-s-fill"></i>
              </div>
            </div>
            <div class="projects-description">
              <div class="projects-intro-responsive">
                <div>
                  <span class="projects-subtitle">Aplicación Web React con API de .NET Core</span>
                  <h2 class="projects-title">Sportswear eCommerce</h2>
                </div>
              </div>
              <div class="projects-stack">
                <ul class="stack-group">
                  <li class="stack-item">
                    <img src="/skills/react.png" width="100" />
                  </li>
                  <li class="stack-item">
                    <img src="/skills/net.png" width="100" />
                  </li>
                  <li class="stack-item">
                    <img src="/skills/tailwind.png" width="100" />
                  </li>
                  <li class="stack-item">
                    <img src="/skills/postgresql.png" width="100" />
                  </li>
                  <li class="stack-item">
                    <img src="/skills/sqlserver.png" width="100" />
                  </li>
                  <li class="stack-item">
                    <img src="/skills/docker.png" width="100" />
                  </li>
                  <li class="stack-item">
                    <img src="/skills/figma.png" width="100" />
                  </li>
                </ul>
              </div>
              <span class="projects-subtitle">
                Sportswear es un eCommerce de ropa deportiva.
                El usuario puede recorrer el catálogo para ver los productos extraidos de una API,
                filtrarlos e ir agregándolos a su carrito para su posterior compra.</br></br>
                Este es un proyecto realizado para una simulación laboral de No Country con un equipo
                multidisciplinario. La aplicación esta hecha con <b>React</b> y estilizada con <b>Tailwind</b>,
                aparte hace uso de una API de .NET Core diseñada con <b>Entity Framework</b> por el grupo.</br></br>
                Integrantes del equipo:</br>
                <a href="https://www.linkedin.com/in/billy-campagnoli-221621223/" target="_blank" class="team-member">-Billy Campagnoli </a>(Team Leader)</br>
                <a href="https://linkedin.com/in/martin-villafa%C3%B1e-115439277" class="team-member" target="_blank">-Martin Villafañe </a>(Diseñador UX/UI)</br>
                <a href="https://linkedin.com/in/juan-ignacio-colapaolo-b916642a0" class="team-member" target="_blank">-Juan Colapaolo </a>(Fullstack)</br>
                <a href="https://linkedin.com/in/miguel-salazar-5576b7258" class="team-member" target="_blank">-Miguel Salazar </a>(Frontend)</br>
                <a href="https://www.linkedin.com/in/jhonatanlarico/?lipi=urn%3Ali%3Apage%3Ad_flagship3_detail_base%3B7UyIoOjFT%2F2b7FWQftJArA%3D%3D" class="team-member" target="_blank">-Jhonatan Larico </a>(Backend)</br>
                <a href="https://www.linkedin.com/in/federico-ocaranza/?lipi=urn%3Ali%3Apage%3Ad_flagship3_detail_base%3B7UyIoOjFT%2F2b7FWQftJArA%3D%3D" class="team-member" target="_blank">-Federico Ocaranza </a>(Backend)</br>
                <p>-Jacinto Gutierrez (Backend)</p>
              </span>
              <div class="projects-button-container">
                <a
                  href="https://sportswearcommerce.netlify.app/"
                  target="_blank"
                  class="projects-button"
                >
                  Ver Demo <i class="ri-external-link-line"></i>
                </a>
                <a
                  href="https://github.com/No-Country/c17-117-t-csharp"
                  target="_blank"
                  class="projects-button"
                >
                  Ver Repositorio <i class="ri-github-fill"></i>
                </a>
              </div>
            </div>
        </article>
    </div>
</section>

<script is:inline>
  const proyectos = document.querySelectorAll(".projects-card");

  proyectos.forEach(proyecto => {
      const botonProyecto = proyecto.querySelector(".projects-collapse");
      const textoBoton = proyecto.querySelector(".projects-button");
      const iconoBoton = proyecto.querySelector(".projects-button-icon");
      const descripcionProyecto = proyecto.querySelector(".projects-description");

      botonProyecto.addEventListener("click", () => {
          descripcionProyecto.classList.toggle("show");
          if(descripcionProyecto.classList.contains("show")){
              textoBoton.textContent = "Cerrar";
              iconoBoton.classList.remove("ri-arrow-down-s-fill");
              iconoBoton.classList.add("ri-arrow-up-s-fill");
          }else{
              textoBoton.textContent = "Ver Más";
              iconoBoton.classList.remove("ri-arrow-up-s-fill");
              iconoBoton.classList.add("ri-arrow-down-s-fill");
          }
      });
  });
</script>



<style>
  .projects {
    background-color: var(--container-color);
  }

  .projects-container {
    row-gap: 2rem;
    justify-content: center;
    padding-block: 1rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
  }

  .projects-card {
    background-color: var(--body-color);
    border-radius: 1rem;
    border: 1px solid var(--body-color);
    transition: border .4s;
  }

  .projects-card:hover {
    border: 1px solid var(--first-color);
  }

  .projects-intro {
    background-color: var(--body-color);
    padding: 1rem 1rem 0 1rem;
    display: flex;
    justify-content: space-between;
  }

  .projects-intro-responsive {
    display: none;
  }

  .projects-description {
    background-color: var(--body-color);
    padding: 1rem;
    padding-top: 0;
    border-radius: 0 0 1rem 1rem;
    max-height: 0;
    visibility: hidden;
    overflow: hidden;
    transition: all .4s;
  }

  /* Shows the projects-description class (JS) */
  .show {
    visibility: visible;
    max-height: 1000px;
  }

  .stack-group {
    display: flex;
    padding: 1rem;
    justify-content: flex-start;
    align-items: center;
  }

  .stack-item {
    width: 60px;
  }

  .stack-item img {
    width: 100%;
    height: 100%;
    transition: all .4s;
  }

  .stack-item img:hover {
    transform: rotate(5deg);
  }

  .projects-div-img {
    position: relative;
    overflow: hidden;
  }

  .projects-img {
    width: 100%;
    height: 100%;
    border-radius: 1rem 1rem 0 0;
  }

  .projects-subtitle,
  .projects-button {
    color: var(--title-color);
    font-size: var(--small-font-size)
  }

  .projects-subtitle {
    display: block;
    margin-bottom: .25rem;
  }

  .team-member {
    color: aquamarine;
    transition: color 0.4s ease-in-out;
  }

  .team-member:hover {
    color: var(--first-color)
  }

  .projects-title {
    font-size: var(--h2-font-size);
    margin-bottom: 0rem;
  }

  .projects-button-container {
    display: flex;
    column-gap: 3rem;
  }

  .projects-button-container i {
    font-size: var(--bigger-font-size);
  }

  .projects-collapse {
    display: flex;
    align-items: flex-end;
  }

  .projects-button {
    display: flex;
    align-items: center;
    column-gap: .5rem;
    font-weight: var(--font-medium);
    margin-top: 1rem;
    cursor: pointer;
    transition: color .4s;
  }

  .projects-button-icon {
    font-size: 1.25rem;
    cursor: pointer;
    transition: color .4s;
    align-self: flex-end;
  }

  .projects-button:hover, 
  .projects-button:hover + .projects-button-icon,
  .projects-button-icon:hover + .projects-button {
    color: var(--first-color);
  }

  /* Medium screens */
  @media screen and (min-width: 576px) {
    .projects-container {
      grid-template-columns: 360px;
      justify-content: center;
    }
  }

  @media screen and (min-width: 768px) {
    .projects-container {
      /* 353px */
      grid-template-columns: repeat(1, 500px);
    }
  }
  /* Large Screens */
  @media screen and (min-width: 1023px) {
    .projects-container {
      /* 353px */
      grid-template-columns: repeat(1, 950px);
    }

    .projects-card {
      display: flex;
    }

    .projects-card:nth-child(even) {
      flex-direction: row-reverse;
    }

    .projects-div-img {
      /* Keep in mind the width of the projects-description */
      width: 120%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-left: 1rem;
    }

    .projects-card:nth-child(even) .projects-div-img {
      padding-right: 1rem;
    }

    .projects-img {
      max-width: 100%;
      height: auto;
      object-fit: cover;
      border-radius: 1rem;
    }

    .projects-intro {
      display: none;
    }

    .projects-intro-responsive {
      display: block;
      padding-top: 1.5rem;
    }

    .projects-description {
      visibility: visible;
      max-height: 1000px;
      /* Keep in mind the width of the projects-div-img */
      width: 140%;
      border-radius: 1rem;
    }

    .projects-collapse {
      display: none;
    }
  }

  @media screen and (min-width: 1152px) {
    .projects-container {
      grid-template-columns: repeat(1, 1000px);
    }

    .projects-button {
      font-size: var(--normal-font-size);
    }
  }
</style>