<a href="" class="scrollup" id="scroll-up">
    <i class="ri-arrow-up-line"></i>
</a>

<script is:inline>
    const scrollUp = () => {
        const scrollUp = document.getElementById("scroll-up")
        if (scrollUp) {
            if (window.scrollY >= 350) {
                scrollUp.classList.add("show-scroll");
            } else {
                scrollUp.classList.remove("show-scroll");
            }
        }
    }
    window.addEventListener("scroll", scrollUp)
</script>

<style>
    .scrollup {
        position: fixed;
        right: 1rem;
        bottom: -50%;
        background-color: var(--body-color);
        padding: 6px;
        display: inline-flex;
        border-radius: .25rem;
        color: var(--first-color);
        font-size: 1.25rem;
        box-shadow: 0 4px 12px hsla(228, 15%, 8%, .4);
        z-index: var(--z-tooltip);
        transition: bottom .4s, transform .4s;
    }

    .scrollup:hover {
        transform: translateY(-.25rem);
    }

    /* Show scroll (JS) */
    .show-scroll {
        bottom: 3rem;
    }

    @media screen and (min-width: 1152px) {
        .scrollup {
            right: 3rem;
        }
    }
</style>